@font-face {
    font-family: "Harmond";
    src: url("/static/fonts/Anton-Regular.ttf") format("opentype");
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Harmond;
  }
  
  body,
  html {
    overscroll-behavior: none;
    background-color: #000000;
    height: 100vh;
    width: 100%;
  }

  nav {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px 0;
    gap: 15px;
    z-index: 10;
  }
  .social-icons embed{
    height: 2.5em;
    width: 2.5em;
    padding: 5px;
    background-color: rgba(3, 3, 3, 0);
    border-radius: 30%;
  }
  
  main {
    position: fixed;
    width: 100%;
    height: 100vh;
  }

  
  .scrollable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
  }

  section {
    margin: 50px 0;
  }

  .container {
    padding: 20px 0;
  }

   #site-header{
     position: absolute;
     top: 50px;
     color: antiquewhite;
   }
  
  .section-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: #0060B6;
    text-decoration: none;
  }

  a:hover {
      color:#00A0C6; 
      text-decoration:none; 
      cursor:pointer;  
  }

  .description-container{
    position: relative;
    left: 0;
    width: 50vw;
    font-size: .8em;
    top: 10%;
    left: 50%;
    z-index: 10;
    padding: .5em;
    color: #ffffff;
    mix-blend-mode: difference;
    background-color: rgb(31, 35, 58);
  }

  .section-headers{
    text-align: center;
    color: antiquewhite;
  }

  p {
    color: #ffffff;
    mix-blend-mode: difference;
  }
  
  img {
    position: absolute;
    height: 60%;
    opacity: 0;
  }
  
  canvas {
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
  }


  #info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
  }